@media(max-width:768px){
    header {
        padding: 50px;
        background-color: whitesmoke;
        margin-bottom: -30px;
        display: none;
    }
    .social-media {
        margin-top: -100px;
        margin-left: 29px;
    }
    .social-media a button {
        background-color: silver;
        border-radius: 10px;
    }
    .social-media a button img {
        width: 30px;
    }
    .contact {
        margin-top: 50px;
        margin-left: -320px;
        display: flex;
        gap: 20px;
    }
    .contact a img {
        width: 20px;
    }
    .contact a {
        display: flex;
        gap: 5px;
    }
    /* nav-bar */
    
nav {
    padding: 20px;
    background-color: bisque;
    font-family: "Bona Nova SC", serif;
}
.main-logo a img  {
    width: 200px;
    margin-top: -40px;
    margin-left: -5px;
}
.menu-item ul {
    list-style-type: none;
    font-weight: 600;
    display: flex;
    gap: 10px;
    margin-left:  -245px;
    margin-top: 60px;
    margin-bottom: -15px;
}
.menu-item ul a {
    text-decoration: none;
    font-style: oblique;
    font-size: 18px;
    color: rgb(91, 184, 176);
}

/* hero-section */
.bg-img {
    background-image:linear-gradient(to bottom, rgba(80, 94, 94, 0.50), rgba(4, 25, 55, 0.95)),url("../img/hero-area-image.webp");
    margin-top: -266px;
    padding-bottom: 40px;
}
.hero-container {
    color: aliceblue;
    padding: 00px 10px;
    padding-top: 300px;
}
.hero-container p {
    padding-bottom: 30px;
}
/* course container */
.course-container {
    display: grid;
    padding-top: 20px;
}
}